* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    outline: none;
}

/* Google Font Poppins & Qwitcher */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Qwitcher+Grypen:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*************************default style**************************/
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

/* .qwitcher-grypen-bold {
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 700;
    font-style: normal;
} */

ul,
menu {
    list-style: none;
    padding: 0rem;
    margin: 0rem;
}

a {
    text-decoration: none;
}

p {
    margin: 0rem;
    padding: 0rem;
}

button {
    background-color: transparent;
    border: transparent;
}

input {
    border: transparent;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

img {
    width: 100%;
    pointer-events: none;
    object-fit: cover;
}

::-moz-placeholder {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--cl_2);
    line-height: 1.6rem;
}

::placeholder {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--cl_2);
    line-height: 1.6rem;
}

::-webkit-input-placeholder {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--cl_2);
    line-height: 1.6rem;
}

:root {
    --logo_color: #34C759;
    --cl_1: #1E1E1E;
    --cl_2: #1E1E1E80;
    --cl_3: #C1DCDC;
    --cl_4: #1E1E1EBF;
    --white_cl: #fff;
    --black_cl: #000000;
    --hover_cl: #2C8E5B;

    /* font family */
    --ff_montserrat: "Montserrat", sans-serif;

    /* spaceing  */
    --p_100: 6.25rem;

}



/* test  */

.hollow_test {
    font-size: 1rem;
    font-weight: 700;
    color: red;
    line-height: 1.6rem;
    text-transform: capitalize;
    width: 50px;
    height: 100px;
    padding: 0rem;
    margin: 0rem;
    overflow: unset;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    column-rule: #000000;
    grid: 0cqh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
}

/* test end */


/* utilites style start  */
.common_section_header {
    max-width: 430px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
}

.common_section_header_title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--black_cl);
    line-height: 3rem;
    text-transform: capitalize;
    margin-bottom: 12px;
}

.common_section_header_description {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--cl_2);
    line-height: 1.6rem;
}

.commont_btn {
    max-width: max-content;
    height: 51px;
    background-color: var(--cl_3);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--cl_1);
    line-height: 1.6rem;
    text-transform: capitalize;
    padding: 12px 35px;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    position: relative;
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
}

.commont_btn:hover {
    color: var(--hover_cl);
}

.commont_btn img {
    position: absolute;
    top: 50%;
    right: -3rem;
    transform: translateY(-50%);
    width: 24px;
    height: 20px;
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
}


.commont_btn:hover img {
    right: .5rem;
}

.common_section_title {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--black_cl);
    line-height: 1.6rem;
    text-transform: capitalize;
    margin-bottom: 12px;
}

.common_section_description {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--cl_2);
    line-height: 1.6rem;
}


/* utilites style end */



/* user information style start  */
.user_information_container {
    position: fixed;
    top: -387px;
    right: 0px;
    max-width: 350px;
    height: 192px;
    background-color: var(--cl_3);
    border: 1px solid var(--hover_cl);
    padding: 1.5rem;
    z-index: 15;
    transition: all 0.9s ease;
    -webkit-transition: all 0.9s ease;
}

.user_information_container.toggle {
    top: 80px;
}


.user_information {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin-bottom: 1rem;
}

.user_information p {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--cl_1);
    line-height: 1.6rem;
}

.user_authen {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.user_authen a {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--black_cl);
    line-height: 1.6rem;
    text-transform: capitalize;
    text-decoration: underline;
}

/* user information style end */





/* menu bar icon style start  */
.menu_bar_icon {
    /* position: absolute; */
    /* top: 50%; */
    /* right: -20rem; */
    right: 0rem;
    /* transform: translateY(-50%); */
    transform: translateY(0%);
    transition: all .3s ease;
    -webkit-transition: all 0.3s ease;
    /* display: none; */
    display: block;
}

#pencet {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

#pencet span {
    background-color: var(--logo_color);
    width: 2em;
    height: .2em;
    margin: 0.26em 0;
    display: block;
    transition: all .4s ease;
    -webkit-transition: all 0.4s ease;
    transform-origin: 0 0;
}

.Diam span:nth-child(1) {
    transform: rotate(45deg) translate(1px, -1px);
}

.Diam span:nth-child(2) {
    Transform: scaleX(0);
}

.Diam span:nth-child(3) {
    transform: rotate(-45deg) translate(1px, 0);
}


/* cart section style start  */
.cart_section {
    position: fixed;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 100vh;
    background-color: var(--white_cl);
    z-index: 17;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart_container {
    max-width: 1100px;
    width: 100%;
    min-height: 650px;
    /* height: 100%; */
}

.cart_left_wrapper {
    max-width: 650px;
    width: 100%;
    height: auto;
    padding: 1rem;
    border: 1px solid;
}

.cart_left_wrapper_header {
    padding-bottom: 12px;
    border-bottom: 1px solid var(--cl_2);
    margin-bottom: 2rem;
}


.cart_left_wrapper_header h3 {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--cl_1);
    text-transform: capitalize;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.cart_left_wrapper_header h3 img {
    width: 30px;
    height: 30px;
}


.cart_left_wrapper_container_header {
    margin-bottom: 2rem;
}

.cart_left_wrapper_container_header h3 {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--cl_1);
    text-transform: capitalize;
    margin-bottom: 5px;
}

.cart_left_wrapper_container_header p {
    font-size: 14px;
    font-weight: 500;
    color: var(--cl_2);
}


.cart_left_wrapper_cart_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 8px 12px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.24);
    border-radius: 12px;
    margin-bottom: 1.5rem;
}

.cart_left_box {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.cart_left_box img {
    width: 84px;
    height: 82px;
}

.cart_left_text_box h4 {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--cl_1);
    text-transform: capitalize;
    margin-bottom: 5px;
}

.cart_left_text_box p {
    font-size: 14px;
    font-weight: 600;
    color: var(--cl_2);
}


.cart_right_box {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    column-gap: 3rem;
}

.cart_quantity_box {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.cart_quantity_box input {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--black_cl);
}

.cart_quantity_btn button {
    display: block;
}

.cart_quantity_btn button img {
    width: 21px;
    height: 9px;
}

.cart_price_and_action_box {
    display: flex;
    align-items: center;
    column-gap: 3rem;
}

.cart_price_and_action_box span {
    font-size: 1rem;
    font-weight: 700;
    color: var(--cl_2);
    text-transform: capitalize;
}

.cart_price_and_action_box button img {
    width: 26px;
    height: 25px;
}


.just_test {
    font-size: 1rem;
    font-weight: 600;
    color: red;
    line-height: 1.6rem;
    text-transform: capitalize;
}



/* cart section style end  */



/* mobile menu start  */
.mobile_menu_container {
    position: fixed;
    top: 69px;
    left: -110%;
    width: 100%;
    height: 100vh;
    background-color: hsl(0deg 0% 0% / 47%);
    z-index: 14;
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    /* display: none; */
    display: block;
}

.mobile_menu_container.toggle {
    left: 0%;
}

.mobile_menu_wrapper {
    max-width: 360px;
    width: 0%;
    height: 100dvh;
    padding: 2.5rem;
    background-color: var(--cl_3);
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
}

.mobile_menu_wrapper.toggle {
    width: 100%;
}


/* mobile menu end */

/* mobile menu style start  */
.mobile_menu_bar {
    all: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 1.5rem;
    list-style: none;
}

/* mobile menu style end  */




/******************header section style start*************************/
.header_section {
    position: relative;
    width: 100%;
    min-height: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    z-index: 16;
}

.header_section.is_sticky {
    position: fixed;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 80px;
    background-color: var(--cl_3);
    animation: is_sticky 0.7s ease;
    -webkit-animation: is_sticky 0.7s ease;
    z-index: 16;
    border-bottom: 2px solid var(--logo_color);
}

@keyframes is_sticky {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

@-webkit-keyframes is_sticky {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}




.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header_left_side {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 6rem;
}


.logo_wrapper a {
    font-size: 2rem;
    font-family: var(--ff_montserrat);
    color: var(--logo_color);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}


.navigation_bar .menu_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3rem;
}

.navigation_bar .menu_bar li a {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--cl_2);
    text-transform: capitalize;
}

.navigation_bar .menu_bar li.active a {
    color: var(--cl_1);
}

.header_right_side {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3rem;
    position: relative;
}

.header_right_side::before {
    position: absolute;
    top: 50%;
    left: 55%;
    content: "";
    transform: translate(-55%, -50%);
    width: 3px;
    height: 100%;
    background-color: var(--logo_color);
    animation: poppupLine 0.9s infinite;
    -webkit-animation: poppupLine 0.7s infinite;
}

@keyframes poppupLine {
    from {
        height: 0%;
    }

    to {
        height: 100%;
    }
}

@-webkit-keyframes poppupLine {
    from {
        height: 0%;
    }

    to {
        height: 100%;
    }
}

/* .header_right_side a{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--logo_color);
    text-transform: capitalize;
} */

.header_right_side button {
    position: relative;
    cursor: pointer;

}

.header_right_side button img {
    width: 1.5rem;
    height: 1.5rem;
}

.header_right_side button span {
    position: absolute;
    top: -5px;
    right: -12px;
    width: 20px;
    height: 20px;
    background-color: var(--logo_color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 12px;
    font-weight: 600;
    color: var(--white_cl);
}





/******************header section style end*************************/







/******************banner section style start*************************/
.banner_container {
    width: 100%;
    min-height: 512px;
    height: 100%;
    background-color: var(--cl_3);
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    overflow: hidden;
}

.banner_text_wrapper h3 {
    font-size: 4rem;
    font-weight: 800;
    color: var(--black_cl);
    line-height: 4.5rem;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
}

.banner_text_wrapper h3>span {
    position: relative;
}

.banner_text_wrapper h3>span::after {
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--hover_cl);
    animation: infiniteBorder 3s infinite;
    -webkit-animation: infiniteBorder 3s infinite;
}



@-webkit-keyframes infiniteBorder {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes infiniteBorder {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}


.banner_plant_info {
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 6rem;
    margin-bottom: 3rem;
}

.banner_plant_info>.banner_plant_info_box h4 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--cl_1);
    line-height: 3rem;
    text-transform: capitalize;
}

.banner_plant_info>.banner_plant_info_box span {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--cl_1);
    line-height: 1.6rem;
    text-transform: capitalize;
}


.banner_search_box form {
    max-width: 450px;
    width: 100%;
    height: 64px;
    position: relative;
    overflow: hidden;
}

.banner_search_box form input {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    padding: 1rem;
}

.banner_search_box form button {
    position: absolute;
    top: 50%;
    right: -3.5rem;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    background-color: var(--cl_3);
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
}

.banner_search_box form button.show {
    right: 1rem;
}

.banner_search_box form button:hover {
    background-color: var(--hover_cl);
}

.banner_search_box form button img {
    width: 20px;
    height: 20px;
}



.banner_image_wrapper {
    max-width: 411px;
    width: 100%;
    min-height: 513px;
    position: relative;
    bottom: -7rem;
    right: 0rem;
    z-index: 5;
}

.banner_image_wrapper::after {
    max-width: 411px;
    width: 100%;
    min-height: 450px;
    position: absolute;
    right: 0rem;
    content: "";
    background-color: var(--black_cl);
    z-index: -1;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 180px;
}

.banner_image_wrapper img {
    width: 100%;
    height: 100%;
}




/******************banner section style end*************************/





/******************best seller section style start*************************/

.best_section {
    padding-top: var(--p_100);
    padding-bottom: var(--p_100);
}

.best_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.best_header_wrapper {
    max-width: 256px;
    width: 100%;
    height: auto;
    text-align: left;
}

.best_header_wrapper p {
    margin-bottom: 1.5rem;
}


.best_content_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 3rem;
}


.best_content_wrapper>.best_content_thumb_wrapper {
    max-width: 299px;
    width: 100%;
    height: 363px;
    border-radius: 12px;
    margin-bottom: 12px;
    cursor: pointer;
}

.best_content_wrapper>.best_content_thumb_wrapper img {
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.best_content_wrapper>.best_content_thumb_wrapper:hover img {
    transform: rotateY(0deg);
}


.best_content_text_wrapper {
    max-width: 299px;
    width: 100%;
    height: 61px;
    position: relative;
    overflow: hidden;
}

.best_content_wrapper>.best_content_text_wrapper h4 {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--cl_1);
    line-height: 1.6rem;
    text-transform: capitalize;
    margin-bottom: 7px;
}

.best_content_wrapper>.best_content_text_wrapper span {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--cl_2);
    line-height: 1.6rem;
    text-transform: capitalize;
}

.best_content_wrapper>.best_content_text_wrapper>.add_to_cart {
    position: absolute;
    top: 50%;
    right: -7.5rem;
    transform: translateY(-50%);
    width: 40%;
    height: auto;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;

}

.best_content_wrapper>.best_content_text_wrapper>.add_to_cart button {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--white_cl);
    line-height: 1.6rem;
    text-transform: capitalize;
    width: 100px;
    height: 40px;
    background-color: var(--black_cl);
    border-radius: 5px;

}

.best_content_wrapper>.best_content_text_wrapper:hover>.add_to_cart {
    right: 0rem;
}

/******************best seller section style end*************************/




/******************about section style start*************************/
.about_section {
    padding-bottom: var(--p_100);
}

.about_content_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1.5rem;
}

.about_content_wrapper {
    max-width: 400px;
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.about_content_wrapper>.about_content_thumb_wrapper {
    width: 96px;
    height: 96px;
    background-color: var(--cl_3);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    animation: cricle 2.5s infinite;
    -webkit-animation: cricle 2.5s infinite;
}

@keyframes cricle {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes cricle {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.about_content_wrapper>.about_content_thumb_wrapper img {
    width: 40px;
    height: 40px;
}



/******************about section style end*************************/





/******************find section style start*************************/

.find_section_container {
    padding-top: 3rem;
    padding-bottom: var(--p_100);
    background-color: var(--cl_3);
}

.find_content_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 3rem;
    margin-bottom: 2rem;
}


.find_content_wrapper {
    max-width: 400px;
    width: 100%;
    height: auto;
}

.find_content_container>.find_content_wrapper:nth-child(1) {
    position: relative;
    top: -7rem;
    left: 0rem;
}

.find_content_container>.find_content_wrapper:nth-child(3) {
    position: relative;
    top: -7rem;
    right: 0rem;
}

.find_content_wrapper>.find_content_thumb {
    width: 100%;
    min-height: 512px;
    height: 100%;
    margin-bottom: 12px;
}

.find_content_wrapper>.find_content_thumb img {
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.find_content_wrapper>.find_content_thumb:hover img {
    transform: rotateY(0deg);
}

.find_btn_box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.find_btn_box button {
    background-color: var(--white_cl);
}

/******************find section style end*************************/






/******************customers section style start*************************/


.customer_section {
    padding: var(--p_100) 0rem;
}

.customer_section_header {
    max-width: 500px;
    width: 100%;
    height: auto;
    margin: unset;
    text-align: left;
    margin-bottom: 3rem;
}

.customer_slider_wrapper {
    max-width: 700px;
    width: 100%;
    height: auto;
    padding: 3rem 3rem 0rem 3rem;
    background-color: var(--cl_3);
    border-radius: 12px;
    margin: 0rem 2rem;
}

.customer_slider_wrapper p {
    font-size: 1.1rem;
    font-weight: 500;
    color: #1E1E1EBF;
    line-height: 1.6rem;
    margin-bottom: 2rem;
}

.customer_review_info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customer_avater {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.customer_avater_image {
    width: 100px;
    height: 100px;
    position: relative;
}

.customer_avater_image::before {
    position: absolute;
    top: 0rem;
    left: -1rem;
    content: "";
    width: 40px;
    height: 35px;
    background-image: url('../images/icons/coma_icon.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.customer_avater_image img {
    width: 100%;
    height: 100%;
}

.customar_avater_info h4 {
    margin-bottom: 0px;
}

.customar_avater_info span {
    font-size: 12px;
    font-weight: 500;
    color: var(--cl_2);
    line-height: 0rem;
    text-transform: capitalize;
}

.customer_review_stars p {
    display: flex;
    align-items: center;
    column-gap: 12px;
    font-size: 1.1;
    font-weight: 700;
    color: var(--black_cl);
    line-height: 1.6rem;
    text-transform: capitalize;
}

.customer_review_stars p img {
    width: 20px;
    height: 20px;
}


.customer_slider_container>.slick-dots {
    position: absolute;
    top: -110px;
    right: 0px;
    width: 150px;
    height: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.customer_slider_container>.slick-dots li {
    width: 12px;
    height: 6px;
    background-color: #D9D9D9;
    border-radius: 12px;
}

.customer_slider_container>.slick-dots li.slick-active {
    width: 48px;
    height: 6px;
    background-color: var(--cl_3);
    border-radius: 12px;
}


/******************customers section style end*************************/




/******************footer section style start*************************/

.footer_section {
    width: 100%;
    padding: 3rem 0rem;
    background-color: var(--cl_3);
}

.footer_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.footer_left_side_wrapper {
    max-width: 190px;
    width: 100%;
    height: auto;
}

.footer_logo {
    margin-bottom: 1.5rem;
}

.footer_logo a {
    font-size: 2rem;
    font-family: var(--ff_montserrat);
    color: var(--black_cl);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.footer_left_side_wrapper p {
    margin-bottom: 1.5rem;

}

.footer_social_icons {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.footer_social_icons a {
    width: 48px;
    height: 48px;
    border: 1px solid var(--cl_2);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
}

.footer_social_icons a:hover {
    box-shadow: 0 0 30px var(--hover_cl);
}


.footer_social_icons a img {
    width: 20px;
    height: 20px;
}

.footer_right_side_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 3rem;
}

.footer_right_wrapper h4 {
    margin-bottom: 1.5rem;
}


.footer_right_wrapper>.footer_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 1rem;
}

.footer_right_wrapper>.footer_menu li a {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--cl_2);
    line-height: 1.6rem;
    text-transform: capitalize;
    position: relative;
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
}

.footer_right_wrapper>.footer_menu li a:hover {
    color: var(--black_cl);
}


.footer_right_wrapper>.footer_menu li a::before {
    position: absolute;
    bottom: -5px;
    left: 0px;
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--black_cl);
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
}

.footer_right_wrapper>.footer_menu li a:hover::before {
    width: 100%;
}





.copyright_text {
    margin-top: 4rem;
}

.copyright_text p {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--cl_2);
    line-height: 1.6rem;
}

/******************footer section style end*************************/




/******************product page style start*************************/

.products_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}

/******************product page style end*************************/


/******************contact page style start*************************/
.contact_container {
    width: 100%;
    min-height: 400px;
    height: 100%;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    overflow: hidden;
    background-color: var(--cl_3);
}




.contact_container>.banner_text_wrapper h3 {
    color: var(--cl_1);
}


/* let ask section style start  */

.let_ask_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.let_ask_section {
    padding: var(--p_100) 0rem;
}


.let_ask_left_side_wrapper {
    max-width: 450px;
    width: 100%;
    height: auto;
}

.let_ask_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 12px;
    margin-top: 2rem;
}

.let_ask_info a {
    display: flex;
    column-gap: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--cl_4);
    line-height: 1.6rem;
    text-transform: capitalize;
}

.let_ask_info a img {
    width: 20px;
    height: 24px;
}

.let_ask_right_side_wrapper {
    max-width: 700px;
    width: 100%;
}

.name_controller {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1.25rem;
    margin-bottom: 1.5rem;
}

.name_controller input {
    max-width: 500px;
    width: 100%;
    height: 100%;
    border: 1px solid var(--cl_3);
    border-radius: 12px;
    padding-left: 10px;
}

.phone_controller,
.email_controller,
.button_controller {
    width: 100%;
    height: 50px;
    margin-bottom: 1.5rem;
}

.phone_controller input,
.email_controller input {
    width: 100%;
    height: 50px;
    border: 1px solid var(--cl_3);
    border-radius: 12px;
    padding-left: 10px;

}

.message_controller {
    width: 100%;
    height: 140px;
    margin-bottom: 2.5rem;
}

.message_controller textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: 1px solid var(--cl_3);
    border-radius: 12px;
    padding-left: 10px;
    padding-top: 10px;
}

.button_controller button {
    width: 100%;
    height: 100%;
    background-color: var(--cl_3);
    border-radius: 12px;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--cl_2);
    line-height: 1.6rem;
    text-transform: capitalize;
}

/* let ask section style end  */

/******************contact page style end*************************/



/******************login page style start*************************/
.login_section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white_cl);
    padding: 2.5rem;
}

.login_container {
    max-width: 600px;
    width: 100%;
    min-height: 400px;
    background-color: var(--cl_3);
    padding: 2.5rem;
    border-radius: 0px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.login_container:hover {
    border-radius: 15px;
}

.login_header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login_header_wrapper h4 {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--cl_1);
    line-height: 1.6rem;
    text-transform: capitalize;
    text-decoration: underline;
}

.login_header_wrapper h4 img {
    width: 30px;
    height: 30px;
}

.login_header_wrapper p {
    font-size: 1rem;
    font-weight: 500;
    color: var(--cl_2);
    line-height: 1.6rem;
}

.login_header_wrapper p a {
    font-size: 1rem;
    font-weight: 700;
    color: var(--logo_color);
    line-height: 1.6rem;
    text-transform: capitalize;
    text-decoration: underline;
}


.login_form_container {
    width: 100%;
    height: auto;
    padding: 2.5rem;
}

.login_form_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.login_form_header h3 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--cl_1);
    line-height: 2.5rem;
    text-transform: capitalize;
}

.login_form_header p {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--cl_2);
    line-height: 1.6rem;
    text-transform: capitalize;
}

.login_form_container form>.login_input_controller {
    width: 100%;
    height: 50px;
    margin-bottom: 1rem;
}

.login_form_container form .login_input_controller input {
    width: 100%;
    height: 100%;
    padding-left: 12px;
    border: 1px solid var(--logo_color);
    border-radius: 12px;
    background-color: transparent;
}

.login_remmber_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login_remmber_box div>label {
    font-size: 1rem;
    font-weight: 500;
    color: var(--cl_2);
    line-height: 1.6rem;
}

.login_remmber_box button {
    font-size: 1rem;
    font-weight: 500;
    color: #D93F21;
    line-height: 1.6rem;
    text-transform: capitalize;
}

.login_button_controller {
    width: 100%;
    height: 50px;
}

.login_button_controller button {
    width: 100%;
    height: 50px;
    background-color: var(--logo_color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin-top: 1.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--cl_1);
    line-height: 1.6rem;
    text-transform: capitalize;
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
}

.login_button_controller:hover button {
    background-color: var(--cl_2);
    color: var(--white_cl);
}


/* login section style end */

/******************login page style end*************************/


/******************header section style start*************************/
/******************header section style end*************************/


/******************header section style start*************************/
/******************header section style end*************************/